AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
RACEPREDICTOR_OWNER_AUTH_SUBJECT="github:12345678"
RACEPREDICTOR_OWNER_ATHLETE_ID="athlete_001"
RACEPREDICTOR_OWNER_DISPLAY_NAME="RacePredictor owner"
